#partners{
  padding-bottom: 119px!important;
} 

.slider{
 width: 1112px;
 height: 100px;
 position: relative;
 background-color: white;
 box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
}

.slide{
  height: 100px;
  display: flex;
  align-items: center;
}
.slide img{
  height: 70px;
  padding: 0 30px 0 30px;
}